(secure) {
	forward_auth localhost:9091 {
		uri /api/authz/forward-auth
		copy_headers Remote-User Remote-Groups Remote-Email Remote-Name
	}
}

{
	email certs.blam@beans-cloud.space
}


// auth.beans-cloud.space {
// 	reverse_proxy localhost:9091
// }

// files.beans-cloud.space {
// 	reverse_proxy localhost:8000
// }

// books.beans-cloud.space {
// 	import secure *
// 	reverse_proxy localhost:8083
// }

// beans-cloud.space {
// 	import secure *
// 	reverse_proxy localhost:8080
// }

// portainer.beans-cloud.space {
// 	import secure *
// 	reverse_proxy localhost:9000
// }

// system.beans-cloud.space {
// 	import secure *
// 	reverse_proxy localhost:3000
// }

